<!-- Footer -->

<footer class="footer">
<div class="col-sm-12" style="background-color: #191919;">
  <div class="row" style="padding-bottom: 4rem; padding-top: 4rem">

    <div class="col-sm-4 col-xs-12 menu" style="text-align: left">
      
      <p style="text-align: left">
        DAS HÖRGERÄTE-ATELIER GMBH<br>
        Scheibenwandstr. 31 83233 Bernau<br>
        a. Chiemsee<br> Traunstein-Germany<br>
       
        +4 915 779 043 003<br>
      </p>
    </div>

    <div class="col-sm-4 col-xs-12 menu">

      <ul class="footer-links">

        <li><%= link_to t('layouts.application.home') , root_path%></li>
        <li><%= link_to t('layouts.application.about') , about_path%></li>
        <li><%= link_to t('layouts.application.products') , soft_path%></li>
        <li><%= link_to t('layouts.application.order') , order_now_path%></li>
        <li><%= link_to t('layouts.application.contact') , contact_path%></li>

        </ul>

    </div>

    <div class="col-sm-4 col-xs-12 contact" style="font-size: 1.3em; padding-top: 1em;">

     <p><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:dashorgerate-ateliergmbh@consultant.com" target="_top"><strong> dashorgerate-ateliergmbh@consultant.com</strong></a></p>
     <p><i class="fa fa-phone" aria-hidden="true"></i>
         +4 915 779 043 003
         <br>
      </p>
    

         
      <p><i class="fa fa-envelope-o" aria-hidden="true"  style="margin-right: 1rem"></i><a href="mailto:sales@dashörgeräte.com"><strong>sales@dashörgeräte.com</strong></a></p>
       <p><i class="fa fa-phone" aria-hidden="true"></i>
         +4 915 124 398 154
         
      </p>

    </div>

    

  </div>
  </div>

</footer>