<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
 <!--  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol> -->
  

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag('evian_water.png', class: 'img-responsive') %>
      <div class="carousel-caption">
        <h3 style="color: black">Evian Water</h3>
        <!-- <p>Natural, refreshing and healthy.</p> -->
      </div>
    </div>

    <div class="item">
      <%= image_tag('pepsi-slide.png', class: 'img-responsive') %>
      <div class="carousel-caption">
        <h3>Pepsi</h3>
        <!-- <p>Beautifully immersed to give it the best taste ever.</p> -->
      </div>
    </div>

    <div class="item">
      <%= image_tag('banner.png', class: 'img-responsive') %>
      <div class="carousel-caption">
        <h3>Soft Drinks</h3>
        <!-- <p>Immersed to bring out the best flavor you have never tasted before.</p> -->
      </div>
    </div>

    <div class="item">
      <%= image_tag('redbull-slide.png', class: 'img-responsive') %>
      <div class="carousel-caption">
        <h3>Redbull</h3>
        <!-- <p>Powers up you brain, enrich your awakeness with great aroma.</p> -->
      </div>
    </div>
    <div class="item">
      <%= image_tag('heineken_wholesale.png', class: 'img-responsive') %>
      <div class="carousel-caption">
        <h3>Heineken wholesale</h3>
        <!-- <p>Powers up you brain, enrich your awakeness with great aroma.</p> -->
      </div>
    </div>

  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" aria-hidden="true">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>