<div id="myCarousel" class="carousel slide">
   <!-- Carousel items -->
   <div class="carousel-inner">
     <div class="active item">
     <h6><%=t('.great_s')%> </h6>
     <p class="details">
        <%=t('.great_intro') %><br>
        <%=t('.great_com') %>
        <hr style="border-bottom: 2px solid #fff; width: 50%; float: left">
        <br><br>
     </p>
     <p style="text-align: center; font-size: 2em">Dave .M</p>
     
     </div>
     <div class="item">
      <h6><%=t('.fantas')%> </h6>
      <p class="details">
        <%= t('.fantas_intro')%>
        <br>
        <%=t('.fantas_intro2')%>
        <br>
        <%=t('.fantas_intro3') %>

        <hr style="border-bottom: 2px solid #fff; width: 50%; float: left">
        <br><br>
      </p>
      <p style="text-align: center; font-size: 2em"><%=t('.out_door')%> </p>
     </div>
     <div class="item">
      <h6><%=t('.one_stop')%> </h6>
      <p class="details">
        <%=t('.one_stop_intro') %>
        <br>
        <%=t('.one_stop_intro2') %>
        <hr style="border-bottom: 2px solid #fff; width: 50%; float: left">
        <br><br>
      </p>
      <p style="text-align: center; font-size: 2em"><%=t('.bar_dealer')%> </p>
     </div>
   </div>

</div>