<%provide(:title, t('pages.categories.pet_header') )  %>
<%=content_for(:product, 'product') %>
<div class="row" style="width: 100%">
	<div class="col-sm-4" style="padding-left: 2rem; padding-top: 2rem">
	 	<div class="row">
	 		<div class="col-sm-12" style="padding-left: 5rem">
	 			<p style="padding: 2rem; 
	 					 background-color: #424242; 
	 					 color: white; 
	 					 width: 60%;
	 					 text-transform: uppercase"><%=t('pages.categories.category')%> </p>
	 			<ul class="left-menu">
	 				<li>
	 					<p style="font-weight: bold"><%=t('pages.categories.soft_drinks') %></p>

	 				</li>
	 				<hr style="margin-left: -10%; 
	 						   width: 70%;
	 						   margin-top: 0; ">
	 				<ul>
	 					<li><span>> </span><%=link_to '250ml', soft_path %></li>
	 					<li><span>>	</span><%=link_to '330ml', c330ml_path %></li>
	 					<li><%=link_to t('pages.categories.pet_bottles') ,bottle_drinks_path  %></li>
	 				
	 				</ul>
	 			</ul>
	 			
	 			<ul class="left-menu cats">
	 				<li><%=link_to t('pages.categories.energy_drinks') , energy_drinks_path %></li>			
	 			</ul>
	 			<ul class="left-menu cats">
	 				<li><%=link_to t('pages.categories.beer_cat') , beer_path %></li>			
	 			</ul>
	 			<ul class="left-menu cats">
	 				<li><%=link_to t('pages.categories.mineral_water') ,mineral_water_path %></li>
	 			</ul>
	 			<ul class="left-menu cats">
	 				<li><%=link_to t('pages.categories.spirits_cat') ,spirit_drinks_path %></li>
	 			</ul>
	 		</div>
	 	</div>
		

	</div>
	<div class="col-sm-8" style="padding-top: 2rem">
			<h3 class="text-center drinks">
				SOFT DRINKS
				<hr>

			</h3>
			<div class="row">
					<div class="col-sm-4">
						<%=image_tag('diet-colabottle.png', width: '100%') %>
						<div class="display">
						<h2>Diet Coke</h2>
						<p>24 x 500ml</p>
						</div>
					</div>
					<div class="col-sm-4">
						<%=image_tag('coca-colabottle.png', width: '100%') %>
						<div class="display">
						<h2>Coca Cola</h2>
						<p>12 x 1.25L</p>
						</div>
					</div>
					
					<div class="col-sm-4">
						<%=image_tag('lipton-ice-tea-bottle.png', width: '100%') %>
						<div class="display">
						<h2>Lipton Ice Tea</h2>
						<p>24 x 250ml</p>
						</div>
					</div>
					<div class="col-sm-4">
						<%=image_tag('7up-bottle.png', width: '100%') %>
						<div class="display">
						<h2>7up </h2>
						<p>12 x 1.5L</p>
						</div>
					</div>
					
					<div class="col-sm-4">
						<%=image_tag('mirandabottle.png', width: '100%') %>
						<div class="display">
						<h2>Miranda</h2>
						<p>12 x 1.5L</p>
						</div>
					</div>
					<div class="col-sm-4">
						<%=image_tag('vimto-still-bottle.png', width: '100%') %>
						<div class="display">
						<h2>Vimto Still</h2>
						<p>24 x 250ml</p>
						</div>
					</div>
					<div class="col-sm-4">
						<%=image_tag('coca-zerobottle.png', width: '100%') %>
						<div class="display">
						<h2>Coca Cola Zero Sugar</h2>
						<p>12 x 1.25L</p>
						</div>
					</div>
					
					<div class="col-sm-4">
						<%=image_tag('fanta-orange-bottle.png', width: '100%') %>
						<div class="display">
						<h2>Fanta Orange</h2>
						<p>24 x 250ml</p>
						</div>
					</div>
			</div>
	</div>
</div>
